// before edits "cp templates/config.json.template config.json", work on the new file and delete all comments
{
  "weather": {
    "apiKey": "your_real_api_key_goes_here",
    "lat": "32.0853", // Example: Tel Aviv lattitude
    "lon": "34.7818" // Example: Tel Aviv longitude
  }
}